.planetunknown-meeple {
    display: inline-block;
    vertical-align: middle;
    z-index: 10;
    position: relative;

    &.icon-lifepod {
        width: 2.7945em;
        height: 4em;
    }

    &.icon-meteor {
        width: 4em;
        height: 4em;

        &.selected {
            filter: hue-rotate(60deg);
        }
    }

    &.icon-rover-meeple {
        width: 4em;
        height: 2.3257em;
        border-top-right-radius: 16px;
        border: 3px solid transparent;
        margin-top: -3px;
        margin-left: -3px;

        background-color: white;
        border-color: #575757;

        &.selectable {
            background-color: #fdb4b4;
            border-color: #885c5c;
            cursor: pointer;
        }

        &.selected {
            background-color: #7bf27b;
            border-color: #1f8a1f;
        }
    }

    &.icon-tracker-civ,
    &.icon-tracker-water,
    &.icon-tracker-biomass,
    &.icon-tracker-rover,
    &.icon-tracker-tech {
        width: 2.4em;
        height: 2.4em;

        transform: translateX(0);
        transition: transform 0.5s;

        box-shadow: 0px 0px 10px 0px yellow;
        background-color: #ffff0070;
    }

    &.icon-first-player {
        width: 5em;
        height: 2.4em;
    }
}

.action-button {
    .icon-container ~ .planetunknown-meeple {
        margin-left: 0.5em;
    }
}

#page-title {
    .icon-lifepod {
        font-size: 0.5em;
        position: absolute;
    }
}
