.planetunknown-meeple {
    display: inline-block;
    vertical-align: middle;

    &.icon-lifepod {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        border: 1px solid black;
        background: blue;
    }

    &.icon-meteor {
        width: 4em;
        height: 4em;
        z-index: 10;
        position: relative;
    }

    &.icon-tracker-civ,
    &.icon-tracker-water,
    &.icon-tracker-biomass,
    &.icon-tracker-rover,
    &.icon-tracker-tech {
        width: 2.4em;
        height: 2.4em;

        transform: translateX(0);
        transition: transform 0.5s;
    }
}

.action-button {
    .icon-container ~ .planetunknown-meeple {
        margin-left: 0.5em;
    }
}
