.planetunknown-meeple {
    display: inline-block;
    vertical-align: middle;
    z-index: 10;
    position: relative;

    &.icon-lifepod {
        width: 2.7945em;
        height: 4em;
    }

    &.icon-meteor {
        width: 4em;
        height: 4em;
    }

    &.icon-rover-meeple {
        width: 4em;
        height: 2.3257em;
    }

    &.icon-tracker-civ,
    &.icon-tracker-water,
    &.icon-tracker-biomass,
    &.icon-tracker-rover,
    &.icon-tracker-tech {
        width: 2.4em;
        height: 2.4em;

        transform: translateX(0);
        transition: transform 0.5s;
    }
}

.action-button {
    .icon-container ~ .planetunknown-meeple {
        margin-left: 0.5em;
    }
}
