#tile-selector {
    display: flex;
    --tileScale: 0.4;
    justify-content: center;
    align-items: center;

    .tile-container {
        margin: 0 20px;
    }
}

#susan-container {
    width: 340px;
    height: 340px;
    position: relative;
    --tileScale: 0.17;
    margin: 10px 0px;

    #susan-indicators {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform-origin: center center;

        .susan-indicator-slot {
            position: absolute;
            top: 0;
            left: 25%;
            right: 25%;
            bottom: 50%;
            transform-origin: bottom center;
            display: flex;
            justify-content: center;

            @for $j from 0 to 6 {
                &#indicator-#{$j} {
                    transform: rotate($j * 60deg);
                }
            }

            .susan-indicator {
                margin-top: -10px;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                border-top-width: 15px;
                border-top-style: solid;
                width: 0;
            }
        }
    }

    #susan-exterior {
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        transform-origin: center center;
        background: #f4f4f4;
        border-radius: 50%;
        border: 1px solid black;
        transform: rotate(0deg);
        transition: transform 0.5s;

        .susan-space {
            padding-bottom: 90px;
            padding-top: 5px;

            @for $j from 0 to 6 {
                &#top-exterior-#{$j} {
                    transform: rotate($j * 60deg);
                }
            }
        }
    }

    #susan-interior {
        position: absolute;
        top: 70px;
        left: 70px;
        bottom: 70px;
        right: 70px;
        transform-origin: center center;
        background: #cecdcd;
        border-radius: 50%;
        border: 1px solid black;
        @for $j from 0 to 6 {
            &[data-shift="#{$j}"] {
                transform: rotate($j * -60deg);
            }
        }

        .susan-space {
            padding-bottom: 27px;
            padding-top: 3px;
            clip-path: polygon(0px 0px, 100% 0%, 70% 75%, 30% 75%);

            @for $j from 0 to 6 {
                &#top-interior-#{$j} {
                    transform: rotate($j * 60deg);
                }
            }
        }
    }

    .susan-space {
        position: absolute;
        top: 0;
        left: 25%;
        right: 25%;
        bottom: 50%;
        transform-origin: bottom center;
        display: flex;
        justify-content: center;
        align-items: center;

        .tile-container {
            margin: 0;
        }
    }
}

/*
#susan-container {
    width: 100%;
    background: white;
    border-radius: 7px;
    border: 1px solid black;
    --tileScale: 0.4;

    #susan-exterior,
    #susan-interior {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 7px 0px;

        .tile-container {
            margin: 0;
            transform: scale(0.9);
            transform-origin: center center;

            &.selectable {
                cursor: pointer;
                .tile-crosshairs {
                    visibility: visible;
                }

                &:hover {
                    transform: scale(0.95);
                }

                .tile-border {
                    background: black;
                }
            }

            &.selected {
                transform: scale(0.95);
                .tile-border {
                    background: green;
                }
            }

            &.unplacable {
                cursor: not-allowed;
                filter: grayscale(1);
                -webkit-transform: translateZ(0);
                -webkit-perspective: 1000;
                -webkit-backface-visibility: hidden;
                opacity: 0.7;

                &:hover {
                    transform: scale(0.9);
                }
            }
        }
    }

    #susan-exterior {
        border-bottom: 1px solid black;
    }
}
*/
