#susan-container {
    width: 100%;
    background: white;
    border-radius: 7px;
    border: 1px solid black;
    --tileScale: 0.4;

    #susan-exterior,
    #susan-interior {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 7px 0px;

        .tile-container {
            margin: 0;
            transform: scale(0.9);
            transform-origin: center center;

            &.selectable {
                cursor: pointer;
                .tile-crosshairs {
                    visibility: visible;
                }

                &:hover {
                    transform: scale(0.95);
                }

                .tile-border {
                    background: black;
                }
            }

            &.selected {
                transform: scale(0.95);
                .tile-border {
                    background: green;
                }
            }

            &.unplacable {
                cursor: not-allowed;
                filter: grayscale(1);
                -webkit-transform: translateZ(0);
                -webkit-perspective: 1000;
                -webkit-backface-visibility: hidden;
                opacity: 0.7;

                &:hover {
                    transform: scale(0.9);
                }
            }
        }
    }

    #susan-exterior {
        border-bottom: 1px solid black;
    }
}
