.tile-container {
    .tile-inner {
        background-image: url("img/tiles-0.png");
        background-repeat: no-repeat;
    }
    &[data-sprite="1"] .tile-inner {
        background-image: url("img/tiles-1.png");
    }
    &[data-sprite="2"] .tile-inner {
        background-image: url("img/tiles-2.png");
    }

    ///////////////////////////////////////
    //  ____  _
    // / ___|| |__   __ _ _ __   ___  ___
    // \___ \| '_ \ / _` | '_ \ / _ \/ __|
    //  ___) | | | | (_| | |_) |  __/\__ \
    // |____/|_| |_|\__,_| .__/ \___||___/
    //                   |_|
    ///////////////////////////////////////

    &[data-shape="0"] {
        width: calc(#{nth($tileWidths, 1)} * var(--tileScale));
        height: calc(#{nth($tileHeights, 1)} * var(--tileScale));
        margin-left: -200%;
        margin-top: -100%;
        clip-path: polygon(
            75% 50%,
            75% 100%,
            50% 100%,
            25% 100%,
            0% 100%,
            0% 50%,
            25% 50%,
            50% 50%,
            50% 0%,
            75% 0%,
            100% 0%,
            100% 50%,
            75% 50%
        );
        transform-origin: 62.5% 75%;

        .tile-inner {
            background-position: 0% 0%;
            clip-path: polygon(
                73.75% 47.5%,
                73.75% 97.5%,
                50% 97.5%,
                25% 97.5%,
                1.2499999999999998% 97.5%,
                1.2499999999999998% 52.5%,
                25% 52.5%,
                51.24999999999999% 52.5%,
                51.24999999999999% 2.4999999999999996%,
                75% 2.4999999999999996%,
                98.75% 2.4999999999999996%,
                98.75% 47.5%,
                73.75% 47.5%
            );
        }
        .tile-border {
            clip-path: polygon(
                75% 50%,
                75% 100%,
                50% 100%,
                25% 100%,
                0% 100%,
                0% 50%,
                25% 50%,
                50% 50%,
                50% 0%,
                75% 0%,
                100% 0%,
                100% 50%,
                75% 50%,
                75% 50%,
                71.875% 43.75%,
                71.875% 43.75%,
                96.875% 43.75%,
                96.875% 6.25%,
                75% 6.25%,
                53.125% 6.25%,
                53.125% 56.25%,
                25% 56.25%,
                3.125% 56.25%,
                3.125% 93.75%,
                25% 93.75%,
                50% 93.75%,
                71.875% 93.75%,
                71.875% 43.75%
            );
        }
        .tile-crosshairs {
            left: 62.5%;
            top: 75%;
        }
    }

    &[data-shape="1"] {
        width: calc(#{nth($tileWidths, 2)} * var(--tileScale));
        height: calc(#{nth($tileHeights, 2)} * var(--tileScale));
        margin-left: -100%;
        margin-top: -100%;
        clip-path: polygon(
            33.33333333333333% 33.33333333333333%,
            66.66666666666666% 33.33333333333333%,
            66.66666666666666% 0%,
            100% 0%,
            100% 33.33333333333333%,
            100% 66.66666666666666%,
            66.66666666666666% 66.66666666666666%,
            66.66666666666666% 100%,
            33.33333333333333% 100%,
            33.33333333333333% 66.66666666666666%,
            0% 66.66666666666666%,
            0% 33.33333333333333%,
            33.33333333333333% 33.33333333333333%
        );
        transform-origin: 50% 50%;

        .tile-inner {
            background-position: 9.090909090909092% 100%;
            clip-path: polygon(
                33.33333333333333% 35%,
                68.33333333333333% 35%,
                68.33333333333333% 1.666666666666668%,
                98.33333333333334% 1.666666666666668%,
                98.33333333333334% 33.33333333333333%,
                98.33333333333334% 65%,
                65% 65%,
                65% 98.33333333333334%,
                35% 98.33333333333334%,
                35% 65%,
                1.666666666666668% 65%,
                1.666666666666668% 35%,
                33.33333333333333% 35%
            );
        }
        .tile-border {
            clip-path: polygon(
                33.33333333333333% 33.33333333333333%,
                66.66666666666666% 33.33333333333333%,
                66.66666666666666% 0%,
                100% 0%,
                100% 33.33333333333333%,
                100% 66.66666666666666%,
                66.66666666666666% 66.66666666666666%,
                66.66666666666666% 100%,
                33.33333333333333% 100%,
                33.33333333333333% 66.66666666666666%,
                0% 66.66666666666666%,
                0% 33.33333333333333%,
                33.33333333333333% 33.33333333333333%,
                33.33333333333333% 33.33333333333333%,
                33.33333333333333% 37.5%,
                33.33333333333333% 37.5%,
                4.166666666666666% 37.5%,
                4.166666666666666% 62.5%,
                37.5% 62.5%,
                37.5% 95.83333333333334%,
                62.5% 95.83333333333334%,
                62.5% 62.5%,
                95.83333333333334% 62.5%,
                95.83333333333334% 33.33333333333333%,
                95.83333333333334% 4.166666666666666%,
                70.83333333333334% 4.166666666666666%,
                70.83333333333334% 37.5%,
                33.33333333333333% 37.5%
            );
        }
        .tile-crosshairs {
            left: 50%;
            top: 50%;
        }
    }

    &[data-shape="2"] {
        width: calc(#{nth($tileWidths, 3)} * var(--tileScale));
        height: calc(#{nth($tileHeights, 3)} * var(--tileScale));
        margin-left: 0%;
        margin-top: -100%;
        clip-path: polygon(
            100% 33.33333333333333%,
            100% 66.66666666666666%,
            100% 100%,
            0% 100%,
            0% 66.66666666666666%,
            0% 33.33333333333333%,
            0% 0%,
            100% 0%,
            100% 33.33333333333333%
        );
        transform-origin: 50% 50%;

        .tile-inner {
            background-position: 30.76923076923077% 0%;
            clip-path: polygon(
                95.00000000000001% 33.33333333333333%,
                95.00000000000001% 66.66666666666666%,
                95.00000000000001% 98.33333333333334%,
                4.999999999999982% 98.33333333333334%,
                4.999999999999982% 66.66666666666666%,
                4.999999999999982% 33.33333333333333%,
                4.999999999999982% 1.6666666666666663%,
                95.00000000000001% 1.6666666666666663%,
                95.00000000000001% 33.33333333333333%
            );
        }
        .tile-border {
            clip-path: polygon(
                100% 33.33333333333333%,
                100% 66.66666666666666%,
                100% 100%,
                0% 100%,
                0% 66.66666666666666%,
                0% 33.33333333333333%,
                0% 0%,
                100% 0%,
                100% 33.33333333333333%,
                100% 33.33333333333333%,
                87.5% 33.33333333333333%,
                87.5% 33.33333333333333%,
                87.5% 4.166666666666666%,
                12.5% 4.166666666666666%,
                12.5% 33.33333333333333%,
                12.5% 66.66666666666666%,
                12.5% 95.83333333333334%,
                87.5% 95.83333333333334%,
                87.5% 66.66666666666666%,
                87.5% 33.33333333333333%
            );
        }
        .tile-crosshairs {
            left: 50%;
            top: 50%;
        }
    }

    &[data-shape="3"] {
        width: calc(#{nth($tileWidths, 4)} * var(--tileScale));
        height: calc(#{nth($tileHeights, 4)} * var(--tileScale));
        margin-left: -100%;
        margin-top: 0%;
        clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 50% 50%, 0% 50%, 0% 0%, 50% 0%);
        transform-origin: 75% 25%;

        .tile-inner {
            background-position: 100% 50%;
            clip-path: polygon(
                50% 2.500000000000002%,
                97.49999999999997% 2.500000000000002%,
                97.49999999999997% 50%,
                97.49999999999997% 97.50000000000001%,
                52.500000000000036% 97.50000000000001%,
                52.500000000000036% 47.5%,
                2.5000000000000355% 47.5%,
                2.5000000000000355% 2.500000000000002%,
                50% 2.500000000000002%
            );
        }
        .tile-border {
            clip-path: polygon(
                50% 0%,
                100% 0%,
                100% 50%,
                100% 100%,
                50% 100%,
                50% 50%,
                0% 50%,
                0% 0%,
                50% 0%,
                50% 0%,
                50% 6.25%,
                50% 6.25%,
                6.25% 6.25%,
                6.25% 43.75%,
                56.25% 43.75%,
                56.25% 93.75%,
                93.75% 93.75%,
                93.75% 50%,
                93.75% 6.25%,
                50% 6.25%
            );
        }
        .tile-crosshairs {
            left: 75%;
            top: 25%;
        }
    }

    &[data-shape="4"] {
        width: calc(#{nth($tileWidths, 5)} * var(--tileScale));
        height: calc(#{nth($tileHeights, 5)} * var(--tileScale));
        margin-left: -100%;
        margin-top: 0%;
        clip-path: polygon(
            33.33333333333333% 0%,
            66.66666666666666% 0%,
            100% 0%,
            100% 50%,
            66.66666666666666% 50%,
            66.66666666666666% 100%,
            33.33333333333333% 100%,
            33.33333333333333% 50%,
            0% 50%,
            0% 0%,
            33.33333333333333% 0%
        );
        transform-origin: 50% 25%;

        .tile-inner {
            background-position: 45.45454545454545% 0%;
            clip-path: polygon(
                33.33333333333333% 2.4999999999999996%,
                66.66666666666666% 2.4999999999999996%,
                98.33333333333334% 2.4999999999999996%,
                98.33333333333334% 47.5%,
                65% 47.5%,
                65% 97.5%,
                34.99999999999999% 97.5%,
                34.99999999999999% 47.5%,
                1.6666666666666607% 47.5%,
                1.6666666666666607% 2.4999999999999996%,
                33.33333333333333% 2.4999999999999996%
            );
        }
        .tile-border {
            clip-path: polygon(
                33.33333333333333% 0%,
                66.66666666666666% 0%,
                100% 0%,
                100% 50%,
                66.66666666666666% 50%,
                66.66666666666666% 100%,
                33.33333333333333% 100%,
                33.33333333333333% 50%,
                0% 50%,
                0% 0%,
                33.33333333333333% 0%,
                33.33333333333333% 0%,
                33.33333333333333% 6.25%,
                33.33333333333333% 6.25%,
                4.166666666666666% 6.25%,
                4.166666666666666% 43.75%,
                37.5% 43.75%,
                37.5% 93.75%,
                62.5% 93.75%,
                62.5% 43.75%,
                95.83333333333334% 43.75%,
                95.83333333333334% 6.25%,
                66.66666666666666% 6.25%,
                33.33333333333333% 6.25%
            );
        }
        .tile-crosshairs {
            left: 50%;
            top: 25%;
        }
    }

    &[data-shape="5"] {
        width: calc(#{nth($tileWidths, 6)} * var(--tileScale));
        height: calc(#{nth($tileHeights, 6)} * var(--tileScale));
        margin-left: -100%;
        margin-top: 0%;
        clip-path: polygon(
            33.33333333333333% 0%,
            66.66666666666666% 0%,
            100% 0%,
            100% 50%,
            66.66666666666666% 50%,
            66.66666666666666% 100%,
            33.33333333333333% 100%,
            0% 100%,
            0% 50%,
            33.33333333333333% 50%,
            33.33333333333333% 0%
        );
        transform-origin: 50% 25%;

        .tile-inner {
            background-position: 54.54545454545454% 50%;
            clip-path: polygon(
                34.99999999999999% 2.500000000000002%,
                66.66666666666666% 2.500000000000002%,
                98.3333333333333% 2.500000000000002%,
                98.3333333333333% 47.5%,
                65% 47.5%,
                65% 97.50000000000001%,
                33.33333333333333% 97.50000000000001%,
                1.6666666666666607% 97.50000000000001%,
                1.6666666666666607% 52.5%,
                34.99999999999999% 52.5%,
                34.99999999999999% 2.500000000000002%
            );
        }
        .tile-border {
            clip-path: polygon(
                33.33333333333333% 0%,
                66.66666666666666% 0%,
                100% 0%,
                100% 50%,
                66.66666666666666% 50%,
                66.66666666666666% 100%,
                33.33333333333333% 100%,
                0% 100%,
                0% 50%,
                33.33333333333333% 50%,
                33.33333333333333% 0%,
                33.33333333333333% 0%,
                37.5% 6.25%,
                37.5% 6.25%,
                37.5% 56.25%,
                4.166666666666666% 56.25%,
                4.166666666666666% 93.75%,
                33.33333333333333% 93.75%,
                62.5% 93.75%,
                62.5% 43.75%,
                95.83333333333334% 43.75%,
                95.83333333333334% 6.25%,
                66.66666666666666% 6.25%,
                37.5% 6.25%
            );
        }
        .tile-crosshairs {
            left: 50%;
            top: 25%;
        }
    }

    &[data-shape="6"] {
        width: calc(#{nth($tileWidths, 7)} * var(--tileScale));
        height: calc(#{nth($tileHeights, 7)} * var(--tileScale));
        margin-left: -100%;
        margin-top: -100%;
        clip-path: polygon(
            100% 33.33333333333333%,
            100% 66.66666666666666%,
            100% 100%,
            50% 100%,
            0% 100%,
            0% 66.66666666666666%,
            50% 66.66666666666666%,
            50% 33.33333333333333%,
            50% 0%,
            100% 0%,
            100% 33.33333333333333%
        );
        transform-origin: 75% 50%;

        .tile-inner {
            background-position: 33.33333333333333% 100%;
            clip-path: polygon(
                97.50000000000001% 33.33333333333333%,
                97.50000000000001% 66.66666666666666%,
                97.50000000000001% 98.33333333333334%,
                50% 98.33333333333334%,
                2.499999999999991% 98.33333333333334%,
                2.499999999999991% 68.33333333333333%,
                52.49999999999999% 68.33333333333333%,
                52.49999999999999% 33.33333333333333%,
                52.49999999999999% 1.666666666666668%,
                97.50000000000001% 1.666666666666668%,
                97.50000000000001% 33.33333333333333%
            );
        }
        .tile-border {
            clip-path: polygon(
                100% 33.33333333333333%,
                100% 66.66666666666666%,
                100% 100%,
                50% 100%,
                0% 100%,
                0% 66.66666666666666%,
                50% 66.66666666666666%,
                50% 33.33333333333333%,
                50% 0%,
                100% 0%,
                100% 33.33333333333333%,
                100% 33.33333333333333%,
                93.75% 33.33333333333333%,
                93.75% 33.33333333333333%,
                93.75% 4.166666666666666%,
                56.25% 4.166666666666666%,
                56.25% 33.33333333333333%,
                56.25% 70.83333333333334%,
                6.25% 70.83333333333334%,
                6.25% 95.83333333333334%,
                50% 95.83333333333334%,
                93.75% 95.83333333333334%,
                93.75% 66.66666666666666%,
                93.75% 33.33333333333333%
            );
        }
        .tile-crosshairs {
            left: 75%;
            top: 50%;
        }
    }

    &[data-shape="7"] {
        width: calc(#{nth($tileWidths, 8)} * var(--tileScale));
        height: calc(#{nth($tileHeights, 8)} * var(--tileScale));
        margin-left: -100%;
        margin-top: -100%;
        clip-path: polygon(
            33.33333333333333% 50%,
            66.66666666666666% 50%,
            66.66666666666666% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            66.66666666666666% 100%,
            33.33333333333333% 100%,
            0% 100%,
            0% 50%,
            0% 0%,
            33.33333333333333% 0%,
            33.33333333333333% 50%
        );
        transform-origin: 50% 75%;

        .tile-inner {
            background-position: 90.9090909090909% 100%;
            clip-path: polygon(
                31.666666666666643% 52.49999999999999%,
                68.33333333333336% 52.49999999999999%,
                68.33333333333336% 2.500000000000002%,
                98.3333333333333% 2.500000000000002%,
                98.3333333333333% 50%,
                98.3333333333333% 97.50000000000001%,
                66.66666666666666% 97.50000000000001%,
                33.33333333333333% 97.50000000000001%,
                1.6666666666666903% 97.50000000000001%,
                1.6666666666666903% 50%,
                1.6666666666666903% 2.500000000000002%,
                31.666666666666643% 2.500000000000002%,
                31.666666666666643% 52.49999999999999%
            );
        }
        .tile-border {
            clip-path: polygon(
                33.33333333333333% 50%,
                66.66666666666666% 50%,
                66.66666666666666% 0%,
                100% 0%,
                100% 50%,
                100% 100%,
                66.66666666666666% 100%,
                33.33333333333333% 100%,
                0% 100%,
                0% 50%,
                0% 0%,
                33.33333333333333% 0%,
                33.33333333333333% 50%,
                33.33333333333333% 50%,
                29.166666666666668% 56.25%,
                29.166666666666668% 56.25%,
                29.166666666666668% 6.25%,
                4.166666666666666% 6.25%,
                4.166666666666666% 50%,
                4.166666666666666% 93.75%,
                33.33333333333333% 93.75%,
                66.66666666666666% 93.75%,
                95.83333333333334% 93.75%,
                95.83333333333334% 50%,
                95.83333333333334% 6.25%,
                70.83333333333334% 6.25%,
                70.83333333333334% 56.25%,
                29.166666666666668% 56.25%
            );
        }
        .tile-crosshairs {
            left: 50%;
            top: 75%;
        }
    }

    &[data-shape="8"] {
        width: calc(#{nth($tileWidths, 9)} * var(--tileScale));
        height: calc(#{nth($tileHeights, 9)} * var(--tileScale));
        margin-left: 0%;
        margin-top: 0%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
        transform-origin: 50% 25%;

        .tile-inner {
            background-position: 0% 100%;
            clip-path: polygon(
                4.999999999999999% 2.500000000000002%,
                95% 2.500000000000002%,
                95% 50%,
                95% 97.50000000000001%,
                4.999999999999999% 97.50000000000001%,
                4.999999999999999% 50%,
                4.999999999999999% 2.500000000000002%
            );
        }
        .tile-border {
            clip-path: polygon(
                0% 0%,
                100% 0%,
                100% 50%,
                100% 100%,
                0% 100%,
                0% 50%,
                0% 0%,
                0% 0%,
                12.5% 6.25%,
                12.5% 6.25%,
                12.5% 50%,
                12.5% 93.75%,
                87.5% 93.75%,
                87.5% 50%,
                87.5% 6.25%,
                12.5% 6.25%
            );
        }
        .tile-crosshairs {
            left: 50%;
            top: 25%;
        }
    }

    &[data-shape="9"] {
        width: calc(#{nth($tileWidths, 10)} * var(--tileScale));
        height: calc(#{nth($tileHeights, 10)} * var(--tileScale));
        margin-left: -100%;
        margin-top: 0%;
        clip-path: polygon(
            25% 0%,
            50% 0%,
            75% 0%,
            100% 0%,
            100% 100%,
            75% 100%,
            50% 100%,
            25% 100%,
            0% 100%,
            0% 0%,
            25% 0%
        );
        transform-origin: 37.5% 50%;

        .tile-inner {
            background-position: 100% 0%;
            clip-path: polygon(
                25% 4.999999999999999%,
                50% 4.999999999999999%,
                75% 4.999999999999999%,
                98.74999999999999% 4.999999999999999%,
                98.74999999999999% 95%,
                75% 95%,
                50% 95%,
                25% 95%,
                1.2500000000000178% 95%,
                1.2500000000000178% 4.999999999999999%,
                25% 4.999999999999999%
            );
        }
        .tile-border {
            clip-path: polygon(
                25% 0%,
                50% 0%,
                75% 0%,
                100% 0%,
                100% 100%,
                75% 100%,
                50% 100%,
                25% 100%,
                0% 100%,
                0% 0%,
                25% 0%,
                25% 0%,
                25% 12.5%,
                25% 12.5%,
                3.125% 12.5%,
                3.125% 87.5%,
                25% 87.5%,
                50% 87.5%,
                75% 87.5%,
                96.875% 87.5%,
                96.875% 12.5%,
                75% 12.5%,
                50% 12.5%,
                25% 12.5%
            );
        }
        .tile-crosshairs {
            left: 37.5%;
            top: 50%;
        }
    }

    &[data-shape="10"] {
        width: calc(#{nth($tileWidths, 11)} * var(--tileScale));
        height: calc(#{nth($tileHeights, 11)} * var(--tileScale));
        margin-left: 0%;
        margin-top: 0%;
        clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 0%);
        transform-origin: 25% 25%;

        .tile-inner {
            background-position: 66.66666666666666% 100%;
            clip-path: polygon(
                2.499999999999991% 2.500000000000002%,
                50% 2.500000000000002%,
                97.49999999999997% 2.500000000000002%,
                97.49999999999997% 50%,
                97.49999999999997% 97.50000000000001%,
                50% 97.50000000000001%,
                2.499999999999991% 97.50000000000001%,
                2.499999999999991% 50%,
                2.499999999999991% 2.500000000000002%
            );
        }
        .tile-border {
            clip-path: polygon(
                0% 0%,
                50% 0%,
                100% 0%,
                100% 50%,
                100% 100%,
                50% 100%,
                0% 100%,
                0% 50%,
                0% 0%,
                0% 0%,
                6.25% 6.25%,
                6.25% 6.25%,
                6.25% 50%,
                6.25% 93.75%,
                50% 93.75%,
                93.75% 93.75%,
                93.75% 50%,
                93.75% 6.25%,
                50% 6.25%,
                6.25% 6.25%
            );
        }
        .tile-crosshairs {
            left: 25%;
            top: 25%;
        }
    }

    &[data-shape="11"] {
        width: calc(#{nth($tileWidths, 12)} * var(--tileScale));
        height: calc(#{nth($tileHeights, 12)} * var(--tileScale));
        margin-left: -100%;
        margin-top: -100%;
        clip-path: polygon(
            33.33333333333333% 33.33333333333333%,
            66.66666666666666% 33.33333333333333%,
            100% 33.33333333333333%,
            100% 66.66666666666666%,
            100% 100%,
            66.66666666666666% 100%,
            66.66666666666666% 66.66666666666666%,
            33.33333333333333% 66.66666666666666%,
            0% 66.66666666666666%,
            0% 33.33333333333333%,
            0% 0%,
            33.33333333333333% 0%,
            33.33333333333333% 33.33333333333333%
        );
        transform-origin: 50% 50%;
        .tile-inner {
            background-position: 81.81818181818183% 0%;
            clip-path: polygon(
                31.666666666666643% 35%,
                66.66666666666666% 35%,
                98.3333333333333% 35%,
                98.3333333333333% 66.66666666666666%,
                98.3333333333333% 98.33333333333334%,
                68.33333333333336% 98.33333333333334%,
                68.33333333333336% 65%,
                33.33333333333333% 65%,
                1.6666666666666903% 65%,
                1.6666666666666903% 33.33333333333333%,
                1.6666666666666903% 1.6666666666666663%,
                31.666666666666643% 1.6666666666666663%,
                31.666666666666643% 35%
            );
        }
        .tile-border {
            clip-path: polygon(
                33.33333333333333% 33.33333333333333%,
                66.66666666666666% 33.33333333333333%,
                100% 33.33333333333333%,
                100% 66.66666666666666%,
                100% 100%,
                66.66666666666666% 100%,
                66.66666666666666% 66.66666666666666%,
                33.33333333333333% 66.66666666666666%,
                0% 66.66666666666666%,
                0% 33.33333333333333%,
                0% 0%,
                33.33333333333333% 0%,
                33.33333333333333% 33.33333333333333%,
                33.33333333333333% 33.33333333333333%,
                29.166666666666668% 37.5%,
                29.166666666666668% 37.5%,
                29.166666666666668% 4.166666666666666%,
                4.166666666666666% 4.166666666666666%,
                4.166666666666666% 33.33333333333333%,
                4.166666666666666% 62.5%,
                33.33333333333333% 62.5%,
                70.83333333333334% 62.5%,
                70.83333333333334% 95.83333333333334%,
                95.83333333333334% 95.83333333333334%,
                95.83333333333334% 66.66666666666666%,
                95.83333333333334% 37.5%,
                66.66666666666666% 37.5%,
                29.166666666666668% 37.5%
            );
        }
        .tile-crosshairs {
            left: 50%;
            top: 50%;
        }
    }

    ///////////////////////////////////
    //    _____
    //   |_   _|   _ _ __   ___  ___
    //     | || | | | '_ \ / _ \/ __|
    //     | || |_| | |_) |  __/\__ \
    //     |_| \__, | .__/ \___||___/
    //         |___/|_|
    ///////////////////////////////////

    &[data-type="0"] {
        .tile-inner {
            background-position: 0% 0%;
        }
    }
    &[data-type="1"] {
        .tile-inner {
            background-position: 9.090909090909092% 7.6923076923076925%;
        }
    }
    &[data-type="2"] {
        .tile-inner {
            background-position: 30.76923076923077% 0%;
        }
    }
    &[data-type="3"] {
        .tile-inner {
            background-position: 100% 7.142857142857142%;
        }
    }
    &[data-type="4"] {
        .tile-inner {
            background-position: 45.45454545454545% 0%;
        }
    }
    &[data-type="5"] {
        .tile-inner {
            background-position: 54.54545454545454% 7.142857142857142%;
        }
    }
    &[data-type="6"] {
        .tile-inner {
            background-position: 33.33333333333333% 7.6923076923076925%;
        }
    }
    &[data-type="7"] {
        .tile-inner {
            background-position: 90.9090909090909% 14.285714285714285%;
        }
    }
    &[data-type="8"] {
        .tile-inner {
            background-position: 0% 14.285714285714285%;
        }
    }
    &[data-type="9"] {
        .tile-inner {
            background-position: 100% 0%;
        }
    }
    &[data-type="10"] {
        .tile-inner {
            background-position: 66.66666666666666% 14.285714285714285%;
        }
    }
    &[data-type="11"] {
        .tile-inner {
            background-position: 81.81818181818183% 0%;
        }
    }
    &[data-type="12"] {
        .tile-inner {
            background-position: 0% 28.57142857142857%;
        }
    }
    &[data-type="13"] {
        .tile-inner {
            background-position: 9.090909090909092% 38.46153846153847%;
        }
    }
    &[data-type="14"] {
        .tile-inner {
            background-position: 30.76923076923077% 30.76923076923077%;
        }
    }
    &[data-type="15"] {
        .tile-inner {
            background-position: 100% 35.714285714285715%;
        }
    }
    &[data-type="16"] {
        .tile-inner {
            background-position: 45.45454545454545% 28.57142857142857%;
        }
    }
    &[data-type="17"] {
        .tile-inner {
            background-position: 54.54545454545454% 35.714285714285715%;
        }
    }
    &[data-type="18"] {
        .tile-inner {
            background-position: 33.33333333333333% 38.46153846153847%;
        }
    }
    &[data-type="19"] {
        .tile-inner {
            background-position: 90.9090909090909% 42.857142857142854%;
        }
    }
    &[data-type="20"] {
        .tile-inner {
            background-position: 0% 42.857142857142854%;
        }
    }
    &[data-type="21"] {
        .tile-inner {
            background-position: 100% 26.666666666666668%;
        }
    }
    &[data-type="22"] {
        .tile-inner {
            background-position: 66.66666666666666% 42.857142857142854%;
        }
    }
    &[data-type="23"] {
        .tile-inner {
            background-position: 81.81818181818183% 30.76923076923077%;
        }
    }
    &[data-type="24"] {
        .tile-inner {
            background-position: 0% 57.14285714285714%;
        }
    }
    &[data-type="25"] {
        .tile-inner {
            background-position: 9.090909090909092% 69.23076923076923%;
        }
    }
    &[data-type="26"] {
        .tile-inner {
            background-position: 30.76923076923077% 61.53846153846154%;
        }
    }
    &[data-type="27"] {
        .tile-inner {
            background-position: 100% 64.28571428571429%;
        }
    }
    &[data-type="28"] {
        .tile-inner {
            background-position: 45.45454545454545% 57.14285714285714%;
        }
    }
    &[data-type="29"] {
        .tile-inner {
            background-position: 54.54545454545454% 64.28571428571429%;
        }
    }
    &[data-type="30"] {
        .tile-inner {
            background-position: 33.33333333333333% 69.23076923076923%;
        }
    }
    &[data-type="31"] {
        .tile-inner {
            background-position: 90.9090909090909% 71.42857142857143%;
        }
    }
    &[data-type="32"] {
        .tile-inner {
            background-position: 0% 71.42857142857143%;
        }
    }
    &[data-type="33"] {
        .tile-inner {
            background-position: 100% 53.333333333333336%;
        }
    }
    &[data-type="34"] {
        .tile-inner {
            background-position: 66.66666666666666% 71.42857142857143%;
        }
    }
    &[data-type="35"] {
        .tile-inner {
            background-position: 81.81818181818183% 61.53846153846154%;
        }
    }
    &[data-type="36"] {
        .tile-inner {
            background-position: 0% 85.71428571428571%;
        }
    }
    &[data-type="37"] {
        .tile-inner {
            background-position: 9.090909090909092% 100%;
        }
    }
    &[data-type="38"] {
        .tile-inner {
            background-position: 30.76923076923077% 92.3076923076923%;
        }
    }
    &[data-type="39"] {
        .tile-inner {
            background-position: 100% 92.85714285714286%;
        }
    }
    &[data-type="40"] {
        .tile-inner {
            background-position: 45.45454545454545% 85.71428571428571%;
        }
    }
    &[data-type="41"] {
        .tile-inner {
            background-position: 54.54545454545454% 92.85714285714286%;
        }
    }
    &[data-type="42"] {
        .tile-inner {
            background-position: 33.33333333333333% 100%;
        }
    }
    &[data-type="43"] {
        .tile-inner {
            background-position: 90.9090909090909% 100%;
        }
    }
    &[data-type="44"] {
        .tile-inner {
            background-position: 0% 100%;
        }
    }
    &[data-type="45"] {
        .tile-inner {
            background-position: 100% 80%;
        }
    }
    &[data-type="46"] {
        .tile-inner {
            background-position: 66.66666666666666% 100%;
        }
    }
    &[data-type="47"] {
        .tile-inner {
            background-position: 81.81818181818183% 92.3076923076923%;
        }
    }
    &[data-type="48"] {
        .tile-inner {
            background-position: 0% 0%;
        }
    }
    &[data-type="49"] {
        .tile-inner {
            background-position: 9.090909090909092% 7.6923076923076925%;
        }
    }
    &[data-type="50"] {
        .tile-inner {
            background-position: 30.76923076923077% 0%;
        }
    }
    &[data-type="51"] {
        .tile-inner {
            background-position: 100% 7.142857142857142%;
        }
    }
    &[data-type="52"] {
        .tile-inner {
            background-position: 45.45454545454545% 0%;
        }
    }
    &[data-type="53"] {
        .tile-inner {
            background-position: 54.54545454545454% 7.142857142857142%;
        }
    }
    &[data-type="54"] {
        .tile-inner {
            background-position: 33.33333333333333% 7.6923076923076925%;
        }
    }
    &[data-type="55"] {
        .tile-inner {
            background-position: 90.9090909090909% 14.285714285714285%;
        }
    }
    &[data-type="56"] {
        .tile-inner {
            background-position: 0% 14.285714285714285%;
        }
    }
    &[data-type="57"] {
        .tile-inner {
            background-position: 100% 0%;
        }
    }
    &[data-type="58"] {
        .tile-inner {
            background-position: 66.66666666666666% 14.285714285714285%;
        }
    }
    &[data-type="59"] {
        .tile-inner {
            background-position: 81.81818181818183% 0%;
        }
    }
    &[data-type="60"] {
        .tile-inner {
            background-position: 0% 28.57142857142857%;
        }
    }
    &[data-type="61"] {
        .tile-inner {
            background-position: 9.090909090909092% 38.46153846153847%;
        }
    }
    &[data-type="62"] {
        .tile-inner {
            background-position: 30.76923076923077% 30.76923076923077%;
        }
    }
    &[data-type="63"] {
        .tile-inner {
            background-position: 100% 35.714285714285715%;
        }
    }
    &[data-type="64"] {
        .tile-inner {
            background-position: 45.45454545454545% 28.57142857142857%;
        }
    }
    &[data-type="65"] {
        .tile-inner {
            background-position: 54.54545454545454% 35.714285714285715%;
        }
    }
    &[data-type="66"] {
        .tile-inner {
            background-position: 33.33333333333333% 38.46153846153847%;
        }
    }
    &[data-type="67"] {
        .tile-inner {
            background-position: 90.9090909090909% 42.857142857142854%;
        }
    }
    &[data-type="68"] {
        .tile-inner {
            background-position: 0% 42.857142857142854%;
        }
    }
    &[data-type="69"] {
        .tile-inner {
            background-position: 100% 26.666666666666668%;
        }
    }
    &[data-type="70"] {
        .tile-inner {
            background-position: 66.66666666666666% 42.857142857142854%;
        }
    }
    &[data-type="71"] {
        .tile-inner {
            background-position: 81.81818181818183% 30.76923076923077%;
        }
    }
    &[data-type="72"] {
        .tile-inner {
            background-position: 0% 57.14285714285714%;
        }
    }
    &[data-type="73"] {
        .tile-inner {
            background-position: 9.090909090909092% 69.23076923076923%;
        }
    }
    &[data-type="74"] {
        .tile-inner {
            background-position: 30.76923076923077% 61.53846153846154%;
        }
    }
    &[data-type="75"] {
        .tile-inner {
            background-position: 100% 64.28571428571429%;
        }
    }
    &[data-type="76"] {
        .tile-inner {
            background-position: 45.45454545454545% 57.14285714285714%;
        }
    }
    &[data-type="77"] {
        .tile-inner {
            background-position: 54.54545454545454% 64.28571428571429%;
        }
    }
    &[data-type="78"] {
        .tile-inner {
            background-position: 33.33333333333333% 69.23076923076923%;
        }
    }
    &[data-type="79"] {
        .tile-inner {
            background-position: 90.9090909090909% 71.42857142857143%;
        }
    }
    &[data-type="80"] {
        .tile-inner {
            background-position: 0% 71.42857142857143%;
        }
    }
    &[data-type="81"] {
        .tile-inner {
            background-position: 100% 53.333333333333336%;
        }
    }
    &[data-type="82"] {
        .tile-inner {
            background-position: 66.66666666666666% 71.42857142857143%;
        }
    }
    &[data-type="83"] {
        .tile-inner {
            background-position: 81.81818181818183% 61.53846153846154%;
        }
    }
    &[data-type="84"] {
        .tile-inner {
            background-position: 0% 85.71428571428571%;
        }
    }
    &[data-type="85"] {
        .tile-inner {
            background-position: 9.090909090909092% 100%;
        }
    }
    &[data-type="86"] {
        .tile-inner {
            background-position: 30.76923076923077% 92.3076923076923%;
        }
    }
    &[data-type="87"] {
        .tile-inner {
            background-position: 100% 92.85714285714286%;
        }
    }
    &[data-type="88"] {
        .tile-inner {
            background-position: 45.45454545454545% 85.71428571428571%;
        }
    }
    &[data-type="89"] {
        .tile-inner {
            background-position: 54.54545454545454% 92.85714285714286%;
        }
    }
    &[data-type="90"] {
        .tile-inner {
            background-position: 33.33333333333333% 100%;
        }
    }
    &[data-type="91"] {
        .tile-inner {
            background-position: 90.9090909090909% 100%;
        }
    }
    &[data-type="92"] {
        .tile-inner {
            background-position: 0% 100%;
        }
    }
    &[data-type="93"] {
        .tile-inner {
            background-position: 100% 80%;
        }
    }
    &[data-type="94"] {
        .tile-inner {
            background-position: 66.66666666666666% 100%;
        }
    }
    &[data-type="95"] {
        .tile-inner {
            background-position: 81.81818181818183% 92.3076923076923%;
        }
    }
    &[data-type="96"] {
        .tile-inner {
            background-position: 0% 0%;
        }
    }
    &[data-type="97"] {
        .tile-inner {
            background-position: 9.090909090909092% 7.6923076923076925%;
        }
    }
    &[data-type="98"] {
        .tile-inner {
            background-position: 30.76923076923077% 0%;
        }
    }
    &[data-type="99"] {
        .tile-inner {
            background-position: 100% 7.142857142857142%;
        }
    }
    &[data-type="100"] {
        .tile-inner {
            background-position: 45.45454545454545% 0%;
        }
    }
    &[data-type="101"] {
        .tile-inner {
            background-position: 54.54545454545454% 7.142857142857142%;
        }
    }
    &[data-type="102"] {
        .tile-inner {
            background-position: 33.33333333333333% 7.6923076923076925%;
        }
    }
    &[data-type="103"] {
        .tile-inner {
            background-position: 90.9090909090909% 14.285714285714285%;
        }
    }
    &[data-type="104"] {
        .tile-inner {
            background-position: 0% 14.285714285714285%;
        }
    }
    &[data-type="105"] {
        .tile-inner {
            background-position: 100% 0%;
        }
    }
    &[data-type="106"] {
        .tile-inner {
            background-position: 66.66666666666666% 14.285714285714285%;
        }
    }
    &[data-type="107"] {
        .tile-inner {
            background-position: 81.81818181818183% 0%;
        }
    }
    &[data-type="108"] {
        .tile-inner {
            background-position: 0% 28.57142857142857%;
        }
    }
    &[data-type="109"] {
        .tile-inner {
            background-position: 9.090909090909092% 38.46153846153847%;
        }
    }
    &[data-type="110"] {
        .tile-inner {
            background-position: 30.76923076923077% 30.76923076923077%;
        }
    }
    &[data-type="111"] {
        .tile-inner {
            background-position: 100% 35.714285714285715%;
        }
    }
    &[data-type="112"] {
        .tile-inner {
            background-position: 45.45454545454545% 28.57142857142857%;
        }
    }
    &[data-type="113"] {
        .tile-inner {
            background-position: 54.54545454545454% 35.714285714285715%;
        }
    }
    &[data-type="114"] {
        .tile-inner {
            background-position: 33.33333333333333% 38.46153846153847%;
        }
    }
    &[data-type="115"] {
        .tile-inner {
            background-position: 90.9090909090909% 42.857142857142854%;
        }
    }
    &[data-type="116"] {
        .tile-inner {
            background-position: 0% 42.857142857142854%;
        }
    }
    &[data-type="117"] {
        .tile-inner {
            background-position: 100% 26.666666666666668%;
        }
    }
    &[data-type="118"] {
        .tile-inner {
            background-position: 66.66666666666666% 42.857142857142854%;
        }
    }
    &[data-type="119"] {
        .tile-inner {
            background-position: 81.81818181818183% 30.76923076923077%;
        }
    }
    &[data-type="120"] {
        .tile-inner {
            background-position: 0% 57.14285714285714%;
        }
    }
    &[data-type="121"] {
        .tile-inner {
            background-position: 9.090909090909092% 69.23076923076923%;
        }
    }
    &[data-type="122"] {
        .tile-inner {
            background-position: 30.76923076923077% 61.53846153846154%;
        }
    }
    &[data-type="123"] {
        .tile-inner {
            background-position: 100% 64.28571428571429%;
        }
    }
    &[data-type="124"] {
        .tile-inner {
            background-position: 45.45454545454545% 57.14285714285714%;
        }
    }
    &[data-type="125"] {
        .tile-inner {
            background-position: 54.54545454545454% 64.28571428571429%;
        }
    }
    &[data-type="126"] {
        .tile-inner {
            background-position: 33.33333333333333% 69.23076923076923%;
        }
    }
    &[data-type="127"] {
        .tile-inner {
            background-position: 90.9090909090909% 71.42857142857143%;
        }
    }
    &[data-type="128"] {
        .tile-inner {
            background-position: 0% 71.42857142857143%;
        }
    }
    &[data-type="129"] {
        .tile-inner {
            background-position: 100% 53.333333333333336%;
        }
    }
    &[data-type="130"] {
        .tile-inner {
            background-position: 66.66666666666666% 71.42857142857143%;
        }
    }
    &[data-type="131"] {
        .tile-inner {
            background-position: 81.81818181818183% 61.53846153846154%;
        }
    }
    &[data-type="132"] {
        .tile-inner {
            background-position: 0% 85.71428571428571%;
        }
    }
    &[data-type="133"] {
        .tile-inner {
            background-position: 9.090909090909092% 100%;
        }
    }
    &[data-type="134"] {
        .tile-inner {
            background-position: 30.76923076923077% 92.3076923076923%;
        }
    }
    &[data-type="135"] {
        .tile-inner {
            background-position: 100% 92.85714285714286%;
        }
    }
    &[data-type="136"] {
        .tile-inner {
            background-position: 45.45454545454545% 85.71428571428571%;
        }
    }
    &[data-type="137"] {
        .tile-inner {
            background-position: 54.54545454545454% 92.85714285714286%;
        }
    }
    &[data-type="138"] {
        .tile-inner {
            background-position: 33.33333333333333% 100%;
        }
    }
    &[data-type="139"] {
        .tile-inner {
            background-position: 90.9090909090909% 100%;
        }
    }
    &[data-type="140"] {
        .tile-inner {
            background-position: 0% 100%;
        }
    }
    &[data-type="141"] {
        .tile-inner {
            background-position: 100% 80%;
        }
    }
    &[data-type="142"] {
        .tile-inner {
            background-position: 66.66666666666666% 100%;
        }
    }
    &[data-type="143"] {
        .tile-inner {
            background-position: 81.81818181818183% 92.3076923076923%;
        }
    }
}
